html {
  scroll-behavior: smooth;
}

body {
  color: #333;
  font-size: 1rem;
  font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

.txt-s {
  font-size: 1.2rem;
}

.txt-m {
  font-size: 1.4rem;
}

.txt-l, .table__content {
  font-size: 1.6rem;
}

.mb-s, .staff-email__area {
  margin-bottom: 1rem;
}

.mb-m, .staff-password__area {
  margin-bottom: 2rem;
}

.mb-l, .header {
  margin-bottom: 4rem;
}

.content-width, .header__inner, .main__container {
  max-width: 1200px;
  min-width: 700px;
}

.centered, .header, .login__form {
  margin: 0 auto;
  text-align: center;
}

.error-msg {
  color: #fa2c2c;
  margin-top: 20px;
}

.header {
  width: 100%;
  height: 120px;
}

.header__inner {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__inner .site-title {
  display: block;
}

.btn {
  display: block;
  width: 100px;
  height: 50px;
}

.main {
  width: 100%;
  background-color: #3c6690;
}

.login__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  padding-top: 50px;
}

.login__button {
  display: block;
}

.staff-email {
  display: inline-block;
  margin-right: 20px;
}

.staff-email__input {
  display: inline-block;
}

.staff-password {
  display: inline-block;
  margin-right: 20px;
}

.staff-password__input {
  display: inline-block;
}

.user__table {
  border: 1;
  border: 1px solid black;
}

.table__content {
  border: 1px solid black;
  background-color: aqua;
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}

table th:first-child {
  border-radius: 5px 0 0 0;
}

table th:last-child {
  border-radius: 0 5px 0 0;
  border-right: 1px solid #3c6690;
}

table th {
  text-align: center;
  color: white;
  background: -webkit-gradient(linear, left top, left bottom, from(#829ebc), to(#225588));
  background: linear-gradient(#829ebc, #225588);
  border-left: 1px solid #3c6690;
  border-top: 1px solid #3c6690;
  border-bottom: 1px solid #3c6690;
  -webkit-box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.3) inset;
          box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.3) inset;
  width: 25%;
  padding: 10px 0;
}

table td {
  text-align: center;
  border-left: 1px solid #a8b7c5;
  border-bottom: 1px solid #a8b7c5;
  border-top: none;
  -webkit-box-shadow: 0px -3px 5px 1px #eee inset;
          box-shadow: 0px -3px 5px 1px #eee inset;
  width: 25%;
  padding: 10px 0;
}

table td:last-child {
  border-right: 1px solid #a8b7c5;
}

table tr:last-child td:first-child {
  border-radius: 0 0 0 5px;
}

table tr:last-child td:last-child {
  border-radius: 0 0 5px 0;
}

.main {
  background-color: #a8b7c5;
}
/*# sourceMappingURL=staff.css.map */