@import './common.scss';

.main {
//   @extend .centered;
  &__container {
    @extend .content-width;
    padding: 0 50px;
  }
  &__top {
    display: flex;
    justify-content: space-between;
    align-content: end;
    // align-items: left;
    &-left {

    }
    &-right {
        display: flex;
        justify-content: center;
        align-self: center;
        .information {
            display: flex;
            flex-direction: column;
        }
    }
  }
}


.topic {
  @extend .mb-s;
  &-name {
      margin-right: 20px;
      &:nth-of-type(odd) {
        //   margin-right: 40px;
      }
  }

}

.input--normal {
    width: 155px;
    height: 25px;
    border: 2px black solid;
}

.recipt__table {
    border: #333 2px solid;
}

.row-number {
    width: 30px;
    text-align: center;
}

.topic {
    display: flex;
    align-items: center;
    width: 250px;
    &-name {
        flex: 20%;
    }
}

.recipt__table {
  border: solid 2.5px black;
  width: 500px;
  height: 300px;
}

.table__row {
  // border: solid 1px black;
}