html {
  scroll-behavior: smooth;
}
body {
  color: #333;
  font-size: 1rem;
  font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

.txt-s {
  font-size: 1.2rem;
}
.txt-m {
  font-size: 1.4rem;
}
.txt-l {
  font-size: 1.6rem;
}
.mb-s {
  margin-bottom: 1rem;
}
.mb-m {
  margin-bottom: 2rem;
}
.mb-l {
  margin-bottom: 4rem;
}

.content-width {
  max-width: 1200px;
}
.centered {
  margin: 0 auto;
  text-align: center;
}

.header {
  width: 100%;
  height: 120px;
  @extend .centered;
  @extend .mb-l;
  &__inner {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    @extend .content-width;
    .site-title {
      display: block;
    }
  }
}

.main {
//   @extend .centered;
  &__container {
    @extend .content-width;
    padding: 0 50px;
  }
  &__top {
    display: flex;
    justify-content: space-between;
    align-content: end;
    // align-items: left;
    &-left {

    }
    &-right {
        display: flex;
        justify-content: center;
        align-self: center;
        .information {
            display: flex;
            flex-direction: column;
        }
    }
  }
}


.topic {
  @extend .mb-s;
  &-name {
      margin-right: 20px;
      &:nth-of-type(odd) {
        //   margin-right: 40px;
      }
  }

}

.input--normal {
    width: 155px;
    height: 25px;
    border: 2px black solid;
}

.recipt__table {
    border: #333 2px solid;
}

.row-number {
    width: 30px;
    text-align: center;
}

.topic {
    display: flex;
    align-items: center;
    width: 250px;
    &-name {
        flex: 20%;
    }
}